{% extends 'layout.html' %}
{% block body %}

<div class="container" style="margin-top: 8vh">

  <div class="input-group">
    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
      <option selected>Choose...</option>
      <option value="konyha">konyha</option>
      <option value="hálószoa">hálószoa</option>
      <option value="fürdő">fürdő</option>
      <option value="nappali">nappali</option>
      <option value="előszoba">előszoba</option>
      <option value="gyerekszoba">gyerekszoba</option>
    </select>
    <div class="input-group-append">
      <button class="btn btn-outline-secondary redirectBtn" type="button">Button</button>
    </div>
  </div>

  {% for row in data %}
    <img src="{{ url_for('static', filename='uploadedImages/'+row[1]) }}" alt="img">
  {% endfor %}

</div>


<script>
  document.querySelector('.redirectBtn').addEventListener('click', () => {
    let category = document.querySelector('#inputGroupSelect04').value
    window.location.href = 'http://liveart-app.herokuapp.com/category?cat=' + category
  })
</script>

{% endblock %}
